@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.home{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* justify-content: center; */
  padding-top: 100px;
  flex-direction: column;
  padding-bottom: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.registration-form{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.login_register {
  /* padding-top: 20px; */
  font-size: 13px;
  color:red;
}
.register_text{
  color:#25646b;
  padding-left: 10px;
  cursor:pointer;
}


.label {
  margin-left:80px;
  display: flex;
  font-size: 15px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  /* margin: 10px auto; */
}

.card {
  background-color: #fff;
  position: relative;
  width: 400px;
  height: 350px;
  margin-left: 500px;
  padding-left: 55px;
}
.background{
  height: 700px;
}

 /* registration and login page */
 
 
.App {
  text-align: center;
}
input{  
  width: 55%;  
  padding: 10px;  
  margin: 5px 0px 0 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
  font-size:15px;
  border-radius: 5px;
  margin-bottom:15px;
  color:#25646b;
 
}  
input:focus{
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}
.registerbtn {  
  border-radius: 25px;
  background-color: #25646b;  
  color: white;  
  padding: 10px 20px;  
  margin: 12px 0;  
  border: none;  
  cursor: pointer;  
  width: 50%;  
  opacity: 0.9;  
  font-size: 20px;
  outline: none !important;
}  
.design{
  width:30%;
  border:  lightgray;  
  background-color: lightgray;  
   margin: 50px 600px 30px 450px;
   border-radius:10px;
   padding-top: 20px;
   padding-bottom:30px;
}
 .Body1{
  padding-bottom: 20px;
  }
  .heading{
    color:#25646b;
    font-size:30px;
    padding-bottom:10px;
  }
  .error{
    color:red;
    font-size: 12px;
    position: absolute;
    margin-top:-12px;
    margin-left:80px;
}
.lazy-load{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 100px;
  flex-direction: column;
}

