@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.login,
.register {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  /* justify-content: center; */
  padding-top: 100px;
  flex-direction: column;
  padding-bottom: 5px;
}

.login-form {
  display: flex;
  flex-direction: column;
}
.registration-form{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.login_register {
  /* padding-top: 20px; */
  font-size: 13px;
  color:red;
}
.register_text{
  color:cyan;
  padding-left: 10px;
  cursor:pointer;
}


.label {
  display: block;
  font-size: larger;
  color: rgb(14, 13, 13);
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}
.btn {
  color: black;
  background-color: white;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  /* margin: 10px auto; */
}

.card {
  background-color: #fff;
  position: relative;
  width: 400px;
  height: 350px;
  margin-left: 500px;
  padding-left: 55px;
}
.background{
  height: 700px;
}


